body {
    background-color: grey;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

#gameScreen {
    background-image: url("./assets/background.png");
    background-size: 300px;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

button.ore-button {
    all: unset;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button.ore-button img {
    width: 100%;
    height: auto;
}

button.shop-button {
    all: unset;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 50;
}
button.shop-button img {
    width: 100%;
    height: 100%;
}

div.bar {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: grey;
    box-shadow: 0 0 5px;
}

#oreDestroyingProgress {
    position: absolute;
    left: 50%;
    top: calc(50% - 100px);
    transform: translate(-50%, -50%);
    border-radius: 0;
}

#inventory, .price {
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    overflow-x: scroll;
}
#inventory img, .price img {
    height: 100%;
    width: auto;
}
#inventory li, .price li {
    min-width: 60px;
    max-width: 100px;
}
.inventory-value {
    font-family: Arial, Helvetica, sans-serif;
    color: #f4f4f4;
}

#shop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background: url("./assets/shop.png");
    background-size: 200px;
    box-shadow: 0 0 5px;
    z-index: 100;
    min-width: 400px;
    border-radius: 32px;
    display: none;
    padding: 10px;
    flex-direction: column;
}
#shop.open {
    display: flex;
    animation: 1s slideUp ease;
}

#shop .shopHeader {
    display: flex;
    width: 100%;
    height: 15%;
}
#shop .closeButton {
    width: 30px;
    height: 30px;
    background: transparent;
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 2px black;
    font-size: 100%;
    color: white;
    margin: 10px;
    margin-left: auto;
    margin-bottom: auto;
}
#shop .shopSign {
    width: 150px;
    height: 150px;
    transform: translateY(-20%)
}

#shopItems {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, 100px);
    gap: 10px;
}
#shopItems .card {
    all: unset;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 0 2px black;
    display: flex;
    font-family: Impact, sans-serif;
}
#shopItems .card .image {
    height: 100%;
    width: auto;
}
#shopItems .card .description {
    color: white;
    padding: 10px;
}
.price {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 30%;
    margin: 5px;
    width: 60%;
}

@keyframes slideUp {
    from {
        transform: translate(-50%, -100%);
        opacity: 0.1;
    }
    to {
        transform: translateY(-50%, -50%);
        opacity: 1;
    }
}